<!doctype html>
<html lang="en">
  <head>
    <title>Hobbies</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <!--<a class="navbar-brand" href="#">Navbar</a> might need to remove-->
          <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>-->
          <div class="collapse navbar-collapse" id="mynav">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              <a class="nav-link" href="hobbies.html">Hobbies</a>
              <!-- <a class="nav-link" href="projects.html">Projects</a>
              <a class="nav-link" href="resume.html">Resume</a> -->
              <a href ="https://www.colorado.edu" target="_blank">
              <img style="float:right" id="icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/1200px-Colorado_Buffaloes_logo.svg.png" alt = "icon_image" width = "37" height="30" >
              </a>
            </div>
          </div>
        </div>
      </nav>
      <!-- <div id="hobbies"> -->
        <div id = "hobbies-grid" class = "grid-container"> <!--style="position:absolute; left: 1%"-->
            <div id="hobby-card-1" >
                <img src="/Users/chrisdelisle/Desktop/AboutMePage/Lab_Website/resources/img/img2.jpg" alt ="snowmobile" id="snowmobileImage">
                <h3 id="hobbies-titles">
                    Being in the Mountians
                </h3>
                <p>I love being in the mountains, whether it's hiking, skiing, snowmobiling, hiking, or camping.</p>
               
            </div>
            <div id="hobby-card-2" > <!--style="position: absolute; right: 33%"-->
                <img src="/Users/chrisdelisle/Desktop/AboutMePage/Lab_Website/resources/img/img3.jpg" alt ="coding" id="codingImage" >
                <h3 id="hobbies-titles">Coding</h3>
                <p>I have always been into solving puzzles, and creating projects. Coding allows the pursuing of both.</p>
                
            </div>
            <div id="hobby-card-3" > <!--style="position: absolute; right: 1%;"-->
                <img src="/Users/chrisdelisle/Desktop/AboutMePage/Lab_Website/resources/img/trekShot.jpg" alt ="biking" id="bikingImage">
            <h3 id="hobbies-titles">Mountain Biking</h3>
                <p>I love mountain biking for the exercise, views, and of course, being in the mountains.</p> 
            
            </div>
        <!-- </div> -->

      </div>
        <!--<div id="self-image">
            <img src = "/Users/chrisdelisle/lab-4-html-css-chrisdelisle/Lab_Website/resources/img/img1.jpg" alt="self image" width ="400" height = "500" style="float:left">
        </div>
        <div id ="self-desc">
            <h2>My name is Chris. That's about it.</h2>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
        <footer id="footer" style="float:left">
            <a href="https://youtube.com/ChrisDelisle"> YouTube Channel</a>
        </footer>-->

        <footer id="footer" >
          <a>chrisddelisle@gmail.com</a>
          <a>-</a>
          <a>(603) 714 2463</a>
          <a>-</a>
          <a href="/Users/chrisdelisle/AboutMePage/lab-4-html-css-chrisdelisle-main/Lab_Website/resources/img/Delisle_Chris_Resume.pdf" target="_blank">Resume</a>
          <a>-</a>
          <a href="https://youtube.com/ChrisDelisle" target="_blank">YouTube</a>
          <a>-</a>
          <a href="https://Instagram.com/chrisdelisle" target="_blank">Instagram</a>
     
      </footer>
</body>
</html> 