<!doctype html>
<html lang="en">
  <head>
    <title>Projects</title>
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
  <body>
   
    <nav class="navbar navbar-expand-lg bg-light" >
        <div class="container-fluid" >
          <div class="collapse navbar-collapse" id="mynav">
            <div class="navbar-nav" >
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              <a class="nav-link" href="hobbies.html">Hobbies</a>
              <a class="nav-link" href="projects.html">Projects</a>
              <a class="nav-link" href="resume.html">Resume</a>
              <img style="float:right" id="icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/1200px-Colorado_Buffaloes_logo.svg.png" alt = "icon_image" width = "37" height="30" >
            </div>
          </div>
        </div>
      </nav>
<!--Carousel-->
      <!-- to do: -->
      <!-- lots of projects (taser, codes, etc) -->
      <!-- college essay to show writing -->
      <!-- put website online -->
<div id="projects" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" id="carousel-bottom-indicators">
        <li data-target="#projects" data-slide-to="0" class="active"></li>
        <li data-target="#projects" data-slide-to="1"></li>
        <li data-target="#projects" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active c-item" id="carousel-item-1">
        <img class="d-block w-100 c-img" src="/Users/chrisdelisle/lab-4-html-css-chrisdelisle/Lab_Website/resources/img/img5.jpg" alt="First slide">
        <div class="carousel-caption">
            <a href="https://github.com/cu-csci-2270-spring-2023/final-project-chrisdelisle"><h5 class="carousel-text">Data Structures Final</h5></a>
            <p class="carousel-text">Given the code skeleton, students were required to implement varios data structures.</p>
          </div>
    </div>
      <div class="carousel-item c-item" id="carousel-item-2">
        <img class="d-block w-100 c-img" src="/Users/chrisdelisle/lab-4-html-css-chrisdelisle/Lab_Website/resources/img/img6.jpg" alt="Second slide">
        <div class="carousel-caption">
            <a href="https://github.com/chrisdelisle/project"><h5 class="carousel-text">CSCI 1300 Final</h5></a>
            <p class="carousel-text">Students were required to make a dungeon game given a map class.</p>
          </div>
    </div>
      <div class="carousel-item c-item" id="carousel-item-3">
        <img class="d-block w-100 c-img" src="/Users/chrisdelisle/lab-4-html-css-chrisdelisle/Lab_Website/resources/img/img7.jpg"  alt="Third slide">
        <div class="carousel-caption">
            <h5 class="carousel-text">CSCI 1300 Project 2</h5>
            <p class="carousel-text">Working on creating objects and functions.</p>
          </div>
    </div>
    </div>
<!--buttons (set id = carousel-next and carousel-prev???)--> 
    <a class="carousel-control-prev" href="#projects" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#projects" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>



  </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    <footer id="footer" style="float:left">
      <a>chrisddelisle@gmail.com</a>
      <a>-</a>
      <a>(603) 714 2463</a>
      <a>-</a>
      <a href="https://youtube.com/ChrisDelisle">YouTube</a>
      <a>-</a>
      <a href="https://Instagram.com/chrisdelisle">Instagram</a>
    </footer>
</body>
</body>
</html> 