<!DOCTYPE html>
<html> 
   <head>
      <title>Resume</title>
      <meta charset="utf-8">
<!--     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">   
      <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" type="text/css" href="style.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
         <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
      <!-- <style>
         div {
               width : 200px;
               height : 200px;
            }
      </style> -->
   </head>
   <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mynav">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            <a class="nav-link" href="hobbies.html">Hobbies</a>
            <a class="nav-link" href="projects.html">Projects</a>
            <a class="nav-link" href="resume.html">Resume</a>
            <img style="float:right" id="icon" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Colorado_Buffaloes_logo.svg/1200px-Colorado_Buffaloes_logo.svg.png" alt = "icon_image" width = "37" height="30" >
          </div>
        </div>
      </div>
    </nav>

      <h3>Chris Delisle</h3>
      <table class="striped bordered">
      <thead>
         <tr><th>Education</th><th>GPA</th><th>Year</th></tr>
      </thead>
      <tbody>
         <tr><td>University of Colorado Boulder</td><td>3.722</td><td>August 2022 - Present</td></tr>
      </tbody>
      <thead>
        <tr><th>Experience</th><th></th><th>Year</th></tr>
     </thead>
     <tbody>
        <tr><td>Manchester Country Club Guest Services</td><td></td><td>2020-2023</td></tr>
        <tr><td>Clipstock: filming stock video</td><td></td><td>2018-2019</td></tr>
     </tbody>
     <thead>
        <tr><th>Relevent Coursework</th><th></th><th>Year</th></tr>
     </thead>
     <tbody>
        <tr><td>AP Computer Science Principles</td><td></td><td>2020-2021</td></tr>
        <tr><td>AP Computer Science A</td><td></td><td>2021-2022</td></tr>
        <tr><td>CSCI1300</td><td></td><td>2022</td></tr>
        <tr><td>CSCI 2270</td><td></td><td>2023</td></tr>
        
     </tbody>
      </table>
      <hr/>

      <footer id="footer" style="float:left">
         <a>chrisddelisle@gmail.com</a>
         <a>-</a>
         <a>(603) 714 2463</a>
         <a>-</a>
         <a href="https://youtube.com/ChrisDelisle">YouTube</a>
         <a>-</a>
         <a href="https://Instagram.com/chrisdelisle">Instagram</a>
    </footer>
   </body>
</html>